#header {
	background: black;
	border: 1px white solid;
}

#title {
	font-size: 55px;
	color: white;
	text-align: center;
	font-family: 'Merriweather', serif;
}

#title a {
	color: white;
	text-decoration: none;
}

#logo {
	margin-left: 10px;
}

#navigation a {
	color: white;
	text-decoration: none;
}

#navigation a:hover{
	text-decoration: underline;
}

#navigation a:active{
	color:#dcdcdc;
}

#navigation li {
	color : white;
	display: inline;
	padding-right:5px;
	font-family: 'Roboto', sans-serif;
	border-right:1px solid white;
}

#navigation {
	font-family: 'Roboto', sans-serif;
}

#RightHeader {
	margin-left: 87px;
}

#ContactHeader {
	margin-left: 50px;
}

#footer {
	background: #222;
}

#footer li {
	font-family: "Open Sans", sans-serif;
	color: white;
	list-style: square;
}

#footer li:nth-child(1) {
  list-style: none;
}

#last {
	text-align: center;
	color: white;
	background: #2f4f4f;
}

#footer h1 {
	font-family: "Open Sans", sans-serif;
	font-size: 40px;
	color: white;
	text-align: center;
}

#footer p {
	color: white;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

hr {
	border: 1px solid white;
	color: white;
	margin-top: 20px;
}